name: Terraform CI/CD 
 
on:
  push:
    branches:
      - main
      - development
      - staging

jobs:
  terraform:
    name: Terraform Workflow
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.5

    - name: Terraform Init
      run: terraform init -reconfigure  # Reinitialize the backend configuration

    - name: Set Workspace Based on Branch
      id: set-workspace
      run: |
        if [ "${{ github.ref_name }}" == "main" ]; then
          terraform workspace select production || terraform workspace new production
        elif [ "${{ github.ref_name }}" == "staging" ]; then
          terraform workspace select staging || terraform workspace new staging
        elif [ "${{ github.ref_name }}" == "development" ]; then
          terraform workspace select development || terraform workspace new development
        else
          echo "Unsupported branch, exiting."
          exit 1
        fi

    - name: Terraform Plan
      run: terraform plan -out=tfplan

    - name: Terraform Apply
      if: github.ref_name != 'main'
      run: terraform apply tfplan
